### 1) Make a pivot table and find the total sale amount by region, manager, and salesperson.
* Dataset:Sales

In [16]:
import numpy as np
import pandas as pd
df = pd.read_excel('sales.xlsx')
df.head()
pd.pivot_table(df,index=["Region","Manager","SalesMan"], values="Sale_amt", aggfunc=np.sum)

<ipython-input-16-c01f928080a2>:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  pd.pivot_table(df,index=["Region","Manager","SalesMan"], values="Sale_amt", aggfunc=np.sum)

Empty DataFrame
Columns: []
Index: [(Central, Douglas, John), (Central, Hermann, Luis), (Central, Hermann, Shelli), (Central, Hermann, Sigal), (Central, Marth, Steven), (Central, Martha, Steven), (Central, Timothy, David), (East, Douglas, Karen), (East, Martha, Alexander), (East, Martha, Diana), (West, Douglas, Michael), (West, Timothy, Stephen)]

### 2) Divide each passenger into four categories based on their age with a Pandas program. 
* Note: Age categories (0, 10), (10, 30), (30, 60), (60, 80)
* Hints: use cut and pivot table
* Dataset: titanic

In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
result = pd.cut(df['age'], [0, 10, 30, 60, 80])
print(result)

0      (10.0, 30.0]
1      (30.0, 60.0]
2      (10.0, 30.0]
3      (30.0, 60.0]
4      (30.0, 60.0]
           ...
886    (10.0, 30.0]
887    (10.0, 30.0]
888             NaN
889    (10.0, 30.0]
890    (30.0, 60.0]
Name: age, Length: 891, dtype: category
Categories (4, interval[int64, right]): [(0, 10] < (10, 30] < (30, 60] < (60, 80]]

### 3)Write a Pandas program to create a Pivot table and calculate how many women and men were in a particular cabin class.
* Dataset: titanic

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
result = df.pivot_table(index=['sex'], columns=['pclass'], values='survived', aggfunc='count')
print(result)

pclass    1    2    3
sex
female   94   76  144
male    122  108  347

### 4) Write a Pandas program to create a Pivot table and find the maximum sale value of the items. 
* Dataset:Sales

In [17]:
import pandas as pd
import numpy as np
df = pd.read_excel('sales.xlsx')
table = pd.pivot_table(df, index='Item', values='Sale_amt', aggfunc=np.max)
table

<ipython-input-17-f1bfc1fbc968>:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  table = pd.pivot_table(df, index='Item', values='Sale_amt', aggfunc=np.max)

Empty DataFrame
Columns: []
Index: [Cell Phone, Desk, Home Theater, Television, Video Games]

### 5) Provide dates for given stock data starting from 1/07/2017 to 21/07/2017
* Hints: Stock are not operated on weekdays and holidays
          from pandas.tseries.holiday import USFederalHolidayCalendar
          from pandas.tseries.offsets import CustomBusinessDay
* Dataset : Stock

In [24]:
import pandas as pd
df = pd.read_csv("stock_input.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [25]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [26]:
df.set_index(rng,inplace=True)
df.head()

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636

### 6) Write a Pandas program to extract email from a specified column of string type of a given DataFrame. 
* df = pd.DataFrame({
    'name_email': ['Aman shahaman323@gmail.com','Suyesh Shrestha suyesh@gmail.com','Indra Chaudhary indra@abc.io', 'Aarti aarti@yahoo.com', 'Santosh Silwal santosh@github.com', 'Sageen sageen@gmail.com']
    })
* Hint: use regex

In [21]:
import pandas as pd
import re as re
pd.set_option('display.max_columns', 10)
df = pd.DataFrame({'name_email': ['Aman shahaman323@gmail.com','Suyesh Shrestha suyesh@gmail.com','Indra Chaudhary indra@abc.io', 'Aarti aarti@yahoo.com', 'Santosh Silwal santosh@github.com', 'Sageen sageen@gmail.com']
    })
# print("Original DataFrame:")
# print(df)
def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)
df['email']=df['name_email'].apply(lambda x: find_email(x))
print("\Extracting email from dataframe columns:")
print(df)

\Extracting email from dataframe columns:
                          name_email                  email
0         Aman shahaman323@gmail.com  shahaman323@gmail.com
1   Suyesh Shrestha suyesh@gmail.com       suyesh@gmail.com
2       Indra Chaudhary indra@abc.io           indra@abc.io
3              Aarti aarti@yahoo.com        aarti@yahoo.com
4  Santosh Silwal santosh@github.com     santosh@github.com
5            Sageen sageen@gmail.com       sageen@gmail.com